<div class="pt-3">
  <div class="table-responsive">
    <table class="table table-dark">
      <tbody *ngFor="let location of locations">
        <td>{{ location.locality }}</td>
        <td>{{ location.country }}</td>
        <td>
          <button
            (click)="onGetWeather(location)"
            [disabled]="
              currentLocation.locality !== location.locality ? false : true
            "
            [className]="
              currentLocation.locality !== location.locality
                ? 'btn btn-success'
                : 'btn btn-success disabled'
            "
          >
            Get Data
          </button>
        </td>
        <td>
          <i
            class="large material-icons"
            aria-hidden="true"
            (click)="onRemoveLocation(location)"
            style="text-align:center;"
            >remove_circle_outline
          </i>
        </td>
      </tbody>
    </table>
  </div>
</div>
