/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  background-color: #121212;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto Mono", monospace;
  color: white;
}
p,
label,
span,
small {
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  color: cyan;
}
a:hover {
  color: darkcyan;
}

.table-dark {
  background-color: #1f1a24;
  border-radius: 4px;
}
th,
td {
  text-align: center;
}
.weather-view-table {
  border: 2px solid#655f59;
  border-radius: 4px;
}

.modal-content {
  background-color: #1f1a24;
}

.jumbotron {
  background-color: #1f1b24;
  height: 175px;
}
.jumbotron > h1,
p {
  color: white;
}

.component-dark {
  background-color: #1f1b24;
  border-radius: 4px;
  padding: 25px;
}
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: #bb86fc;
  border-color: #bb86fc;
  color: black;
  box-shadow: none;
}
.btn-primary:hover {
  background-color: #8e44ea;
  border-color: #8e44ea;
  color: white;
}

.btn-success,
.btn-success:active,
.btn-success:focus {
  background-color: #03dac5;
  border-color: #03dac5;
  color: black;
  box-shadow: none;
}
.btn-success:disabled {
  background-color: #41453b;
  border-color: #41453b;
  color: whitesmoke;
  opacity: 0.65;
  pointer-events: none;
}
.btn-success:hover {
  background-color: #00a885;
  border-color: #00a885;
  color: white;
}

.material-icons {
  cursor: pointer;
}
.material-icons:hover {
  transform: scale(1.1);
}

.skycons__canvas {
  height: auto;
  width: 150px;
}

.mat-spinner {
  margin: auto;
}
