<div *ngIf="weather && !noData" class="pt-3">
  <h3>Weather for {{ location.locality }}, {{ location.country }}</h3>
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Currently</th>
          <th>Minutely</th>
          <th>Hourly</th>
          <th>Daily</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of weather">
        <td>{{ data.currently ? data.currently.summary : "" }}</td>
        <td>{{ data.minutely ? data.minutely.summary : "" }}</td>
        <td>{{ data.hourly ? data.hourly.summary : "" }}</td>
        <td>{{ data.daily ? data.daily.summary : "" }}</td>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="noData" class="pt-3">
  <p>
    No weather data for {{ location.locality }}, {{ location.country }}. Are you
    sure that you spelled it correctly and that this location exists?
  </p>
</div>
